#tester{
    padding: 10px;
    background-color: grey;
}

#news{
    /*margin-top: 2em;
    padding:0px 60px;*/
    background-size: 100%;
    /*background-repeat: no-repeat;
    background-image: url("https://vignette3.wikia.nocookie.net/leagueoflegends/images/5/50/Wiki-background/revision/latest?cb=20170615172546");*/
    /*background-attachment: fixed;*/
    margin-top: 16px;
    padding:0px 120px;
    background-color: black;
    /*width: 1024px;*/
}
#insideGrid{
    margin-top: 16px;
    padding:0px 120px;
}

#newsHeading{
background-color: grey;
}
template{
}
