<template name="Event_List">
  <div class="card" style="color: white; border-radius: 0; max-width: 300px; border: 5px outset darkgreen; background: linear-gradient(to top left, black, green, green);">
    <div class="content" style="margin-right: 15px; padding: 10px 0 10px 20px;">
      <div class="image" >
        <img class="medium ui image" style="width: 100%; height: 250px" src="{{event.picture}}">
      </div>

      <a class="left aligned header" style="padding-top: 15px; color: darkgreen; color: white">
        {{event.name}}
        <hr COLOR="white">
      </a>

      <div style="color: white" class="meta">
        <span class="cinema">
          Location: {{event.location}}
          <br>
          Date: {{event.date}}
          <br>
          Time: {{event.time}}
          <br>
          Phone Number: {{event.phone}}
        </span>
        <hr COLOR="white">
      </div>

      <div class="description" style="color: white; margin-right: 15px;">
        <span class="cinema">
          Description: <br> {{event.description}}
        </span>
      </div>

      <div class="extra content" style="padding-top: 10px;">
        {{#each games in event.games}}
          <a href="http://www.google.com/search?q={{games}}" style="margin-bottom: 5px; background: linear-gradient(to bottom right, darkgreen, darkgreen, black);" class="ui green label">{{games}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</template>