<template name="Event_List">
  <div class="ui divided items">
    <div class="item" style="background-color: lightgreen; border: 5px outset green">
      <div class="image">
        <img style="width:100%; height: 100%;" class="small ui image" src="{{event.picture}}" alt="{{event.picture}}">
      </div>
      <div class="content" style="padding: 10px 0 10px 20px;">
        <a class="header">{{event.name}}</a>
        <div class="meta">
          <span class="cinema">Location: {{event.location}}</span>
          <span class="cinema">Time: {{event.time}}</span>
        </div>
        <div class="description">
          <p>{{event.description}}</p>
        </div>
        <div class="extra">
          {{#each games in event.games}}
          <div class="ui green label">{{games}}</div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>