<template name="Event_List">
  <div class="card" style="max-width: 300px; border: 5px outset green; background-color: #AAF8AC;">

    <div class="image" >
      <img class="Medium ui image" style="height:300px" src="{{event.picture}}">
    </div>

    <div class="content" style="margin-right: 15px; padding: 10px 0 10px 20px;">
      <a class="header">{{event.name}}</a>
      <div class="meta">
        <span class="cinema">
          Location: {{event.location}}
          <br>
          Date: {{event.date}}
          <br>
          Time: {{event.time}}
          <br>
          Phone Number: {{event.phone}}
        </span>
      </div>

      <div class="description" style="margin-right: 15px;">
        <span class="cinema">
          Description: <br> {{event.description}}
        </span>
      </div>

      <div class="extra content" style="padding-top: 10px;">
        {{#each games in event.games}}
          <div class="ui green label" style="margin-bottom: 5px;">{{games}}</div>
        {{/each}}
      </div>
    </div>
  </div>
</template>