.user-layout-body {
  border-bottom: none;
  padding-top: 75px;
  background-color: ghostwhite !important;
}

#menuBar{
  border: 1px solid green;
  background-color: #AAF8AC;
}

#menuItem {
  color: green;
  font-size: 20px;
}

#menuItem.active.item {
  color: black !important;
}

#menuTitle {
  color: green;
  font-size: 30px;
}

#menuTitle.active.item {
  color: black !important;
}

.menu.transition.visible {
  font-color: green !important;
  background-color: #AAF8AC !important;
  border-color: green !important;
}

.item{
  color: green !important;
  border-color: green !important;
}

.ui.dropdown.selection.multiple {
  background-color: #AAF8AC !important;
  border-color: green !important;
  color: green !important;
}

.default.text {
  color: green !important;
}

.ui.label.transition.visible {
  background-color: #AAF8AC !important;
  border: 1px solid green;
  color: green !important;
}

input#First::placeholder, input#Last::placeholder, input#Title::placeholder, input#Picture::placeholder, input#Steam::placeholder, input#Blizzard::placeholder, input#LoL::placeholder, input#Date::placeholder, input#Name::placeholder, input#Location::placeholder, input#Event::placeholder {
  color: darkgreen;
}
textarea#Bio::placeholder {
  color: darkgreen;
}
.ui.simple.dropdown.item:hover {
  border-bottom: none;
}