.user-layout-body {
  border-bottom: none;
  padding-top: 75px;
}

#menuBar{
  border: 3px solid black;
  background: linear-gradient(to bottom right, darkgreen, black, black);
}

#menuItem {
  color: white;
  font-size: 20px;
}

#menuItem.active.item {
  color: green !important;
}

#menuTitle {
  color: whitesmoke;
  font-size: 30px;
}

#menuTitle.active.item {
  color: white !important;
}

.menu.transition.visible {
  font-color: whitesmoke !important;
  background: linear-gradient(to bottom right, darkgreen, black, black) !important;
  border-color: black !important;
}

.item{
  color: white !important;
  border-color: white !important;
}

.ui.dropdown.selection.multiple {
  background: linear-gradient(to bottom right, darkgreen, black) !important;
  border-color: white !important;
  color: white !important;
}

.default.text {
  color: whitesmoke !important;
}

.ui.label.transition.visible {
  background: linear-gradient(to bottom right, darkgreen, black, black) !important; !important;
  border: 1px solid white;
  color: whitesmoke !important;
}

input#First::placeholder, input#Last::placeholder, input#Title::placeholder, input#Picture::placeholder, input#Steam::placeholder, input#Blizzard::placeholder, input#LoL::placeholder, input#Date::placeholder, input#Name::placeholder, input#Location::placeholder, input#Event::placeholder, input#Time::placeholder, input#Phone::placeholder, input#Link::placeholder {
  color: white;
}

textarea#Bio::placeholder, textarea#Description::placeholder {
  color: white;
}


