<template name="User_Footer">
  <footer style="background: linear-gradient(white, darkgreen, black) !important;">
    <div style="color: white; padding-top: 15px; padding-bottom: 10px;" class="ui center aligned container">
        <hr COLOR="white">
      <a style="color: white" href="http://314gb.github.io">Warrior Gamers</a><br>
        Sponsored by:<br>
        Department of Information and Computer Sciences <br />
        University of Hawaii<br />
        Honolulu, HI 96822
    </div>
  </footer>
</template>
