#view_profile{
  background: linear-gradient(to bottom right, white, darkgreen,darkgreen) !important;;
    border: 1px solid green
}
#view_profile p{
    color: black;
}
#view_profile .column{
    color: whitesmoke;
}
#gameDiv p{
    color: black;
}
#gameDiv div {
    color: whitesmoke;
}
.ui.menu .active.item {
    background: darkgreen;
    color: rgba(0, 0, 0, 0.95);
    font-weight: normal;
    box-shadow: none;
}
.ui.menu .item {
    background: darkgreen;
}
.ui.menu a.item:hover {
    background: grey;
    color: grey;
}
.ui.menu a.active.item:hover {
    background: grey;
    color: grey;
}
/*
*/
