#view_profile{
  background: linear-gradient(to bottom right, black, darkgreen) !important;
}
#view_profile p{
    color: black;
}
#view_profile .column{
    color: whitesmoke;
}
#gameDiv p{
    color: black;
}
#gameDiv div {
    color: whitesmoke;
}
.ui.menu.active.item {
    background: lime;
    color: rgba(0, 0, 0, 0.95);
    font-weight: normal;
    box-shadow: none;
}
.ui.menu.item {
    background: darkgreen;
}
.ui.menu.a.item:hover {
    background: grey;
    color: grey;
}
.ui.menu.a.active.item:hover {
    background: grey;
    color: grey;
}
#tabText.item.active {
  background: linear-gradient(to bottom right, white, white, green) !important;
  color: darkgreen !important;
}
div.ui.top.menu {
  border: none;
}
div.ui.text.container.segment {
  color: white;
  border-radius: 0;
  border: 5px outset darkgreen;
}
a.ui.label {
  color: white;
  background: linear-gradient(to bottom right, black, green) !important;
}
/*
*/
