<template name="Directory_Profile">
  <div class="card" style="border-radius: 0; max-width: 300px; border: 5px outset darkgreen; background: linear-gradient(to top left, white, green, green);">
    <div class="content">
      <div class="image" >
        <img class="medium ui image" style="width: 100%; height:250px" src="{{profile.picture}}">
      </div>
      <div style="padding-top: 15px; color: whitesmoke; font-color: whitesmoke" class="left aligned header">
        {{ profile.firstName }} {{ profile.lastName }}
        <hr COLOR="white">
      </div>
      <div style="color: whitesmoke; font-color: whitesmoke" class="description">
        Biography: {{ profile.bio }}
      </div>
      <div style="color: green; font-color: whitesmoke; margin-top: 15px">
        {{#each games in profile.games}}
          <a style="margin-bottom: 5px; background: linear-gradient(to bottom right, green, green, black);" href="http://www.google.com/search?q={{games}}" class="ui green label">{{games}}</a>
        {{/each}}
      </div>
    </div>

    <div class="extra content">
      <div class="ui equal width center aligned grid">
        <div class="column"><a href="mailto:{{ profile.username}}@hawaii.edu"><img class="mini ui image" src="https://cdn4.iconfinder.com/data/icons/aiga-symbol-signs/612/aiga_mail_bg-512.png"></a></div>
        {{#if profile.steam }}
          <div class="column"><a href="https://steamcommunity.com/profiles/{{profile.steam}}"><img class="mini ui image" src="https://img00.deviantart.net/7fab/i/2013/205/9/f/steam_icon_3_by_kryuko-d6eyp1b.png"></a></div>
        {{/if}}
        {{#if profile.blizzard }}
          <div class="column"><a href="https://us.battle.net/account/management/"><img class="mini ui image" src="https://vignette.wikia.nocookie.net/wowwiki/images/c/cf/Blizzard_app-OSX_1024x1024_icon.png/revision/latest?cb=20170324041037"></a></div>
        {{/if}}
        {{#if profile.league }}
          <div class="column"><a href="http://na.op.gg/summoner/userName={{profile.league}}"><img class="mini ui image" src="https://apprecs.org/gp/images/app-icons/300/5f/gg.op.lol.android.jpg"></a></div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
